* {
    transition: all 0.3s ease;
}

body {
    background-color: white;
}

button[type="submit"] {
    border: none;
    border-radius: 5px;
    background-color: #de7340;
    color: white;
}

button[type="submit"]:hover {
    background-color: #b15c33;
}

.search-div {
    background-color: #313131;
    width: 100%;
    padding: 50px;
    text-align: center;
}

.search-div div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 60px;
}

.search-div div img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.search-div div h1 {
    font-size: 5rem;
    color: white;
    font-weight: bolder;
}

.search-div input[type="search"] {
    line-height: 35px;
    width: 30%;
    border: 1.5px solid #313131;
    border-radius: 5px;
}

.search-div input[type="search"]:focus {
    outline: none;
    border: 1.5px solid #b15c33;
}

.search-div button[type="submit"] {
    height: 40px;
    width: 40px;
}

.random-picks {
    background-color: white;
    width: 100%;
    text-align: center;
}

.random-picks button[type="submit"] {
    height: 50px;
    width: 30%;
    font-size: 18px;
    margin-top: 20px;
}

.random-picks .picks {
    display: grid;
    margin: 10px;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2 auto);
    gap: 20px;
}

.random-picks .picks .card {
    border: none;
    display: flex;
    text-align: center;
}

.random-picks .picks .card img {
    background-color: #acacac;
    border-radius: 10px;
}

.random-picks .picks .card .id {
    text-align: left;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 18px;
    color: #acacac;
    border-radius: 5px;
}

.random-picks .picks .card .name {
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}


@media (max-width: 760px) {
    .search-div input[type="search"], .random-picks button[type="submit"] {
        width: calc(100% - 100px);
    }

    .random-picks .picks {
        padding: 0;
    }
}