/* Styles for common elements */
* {
    transition: all 0.3s ease;
}

body {
    background-color: white;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #de7340;
    color: white;
}

button:hover {
    background-color: #b15c33;
}

.search-div, .identity-bar {
    background-color: #313131;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.types {
    display: flex;
    flex-wrap: wrap;
}

.types .type {
    font-size: 12px;
    width: 80px;
    height: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}


/* Styles for search area */
.search-div div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 30px;
}

.search-div div img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.search-div div h1 {
    font-size: 5rem;
    color: white;
    font-weight: bolder;
}

.search-div input[type="search"] {
    line-height: 35px;
    width: 30%;
    border: 1.5px solid #313131;
    border-radius: 5px;
}

.search-div input[type="search"]:focus {
    outline: none;
    border: 1.5px solid #b15c33;
}

.search-div button[type="submit"] {
    height: 40px;
    width: 40px;
}


/* Styles for random picks */
.random-picks {
    background-color: white;
    width: 100%;
    text-align: center;
}

.random-picks .btn-grid {
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.random-picks .btn-grid form {
    width: 100%;
}

.random-picks .btn-grid form[action="/"] {
    margin-left: 20%;
}

.random-picks .btn-grid form[action="/favourites"] {
    margin-right: 20%;
}

.random-picks .btn-grid button[type="submit"] {
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-top: 20px;
}

.random-picks .picks {
    display: grid;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1 auto);
    gap: 20px;
}

.random-picks .picks form, .random-picks .picks form button {
    width: 100%;
    background: none;
    min-width: 0;
    height: auto;
}

.random-picks .picks form button .card {
    border: none;
    display: flex;
    text-align: center;
}

.random-picks .picks form button .card img {
    background-color: #acacac;
    border-radius: 10px;
}

.random-picks .picks form button .card .id {
    text-align: left;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 18px;
    color: #acacac;
    border-radius: 5px;
}

.random-picks .picks form button .card .name {
    margin-top: -20px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}

/* Styling Pokemon name bar */
.identity-bar {
    display: flex;
    vertical-align: auto;
    justify-content: center;
    align-items: center;
}

.identity-bar .cornors {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
}

.identity-bar .left {
    left: 10px;
}

.identity-bar .right {
    right: 10px;
}

.identity-bar .cornors form button {
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.identity-bar .middle {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.identity-bar .middle form {
    width: 100%;
}

.identity-bar .middle button {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.identity-bar .middle .name, .identity-bar .middle .id {
    font-weight: bolder;
    font-size: 40px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
    line-height: 60px;
}

.identity-bar .middle .name {
    color: white;
}

.identity-bar .middle .id {
    color: #acacac;
}

/* Styling main */
.main {
    margin: 50px;
    background-color: #acacac;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Favourite button */
.fav {
    position: absolute;
    top: 130px;
    left: 50px;
    padding: 10px;
}

.fav-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.fav button {
    font-weight: bolder;
    font-size: 30px;
    background: none;
    color: #313131;
}

.title {
    background-color: #313131;
    height: 100px;
}

.title form {
    width: 100%;
    text-align: center;
}

.title button {
    font-size: 40px;
    background: none;
    line-height: 100px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

/* Pokemon details */
.details {
    position: absolute;
    top: 130px;
    right: 50px;
    width: 30%;
    padding: 10px;
}

.details table {
    width: 100%;
    background-color: #de7340;
    border-radius: 10px;
}

.details table tr th, .details table tr td {
    padding-left: 40px;
    font-weight: 500;
}

.details table tr th {
    font-size: 15px;
    color: white;
    padding-top: 10px;
}

.details table tr td {
    font-size: 20px;
}

.details table tr td ul {
    list-style: none;
    margin-left: -30px;
}

.details table tr td ul li a {
    color: black;
    text-decoration: none;
}

/* Pokemon image */
.pokemon {
    width: 100%;
    text-align: center;
}

.pokemon img {
    width: 30%;
}

/* Pokemon type and its weaknesses */
.types-weakness {
    display: grid;
    width: 100%;
    margin-top: -100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
}

.types-weakness div {
    padding: 50px;
    text-align: center;
}

.types-weakness div p {
    font-size: 30px;
    font-weight: bolder;
}

.types-weakness div .types {
    justify-content: center;
    align-content: center;
    margin-top: -50px;
}

.types-weakness div .types .type {
    height: 30px;
    width: 100px;
    font-size: 18px;
    line-height: 30px;
}

/* Pokemon evolution */

.evolution {
    margin-left: var(--spacing-unit);
    margin-right: var(--spacing-unit);
    text-align: center;
    background-color: #616161;
    border-radius: 10px;
}

.evolution p {
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.evolution .evol-cards {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.evolution .evol-cards form , .evolution .evol-cards form button {
    width: 100%;
    min-width: 0;
    background: none;
}

.evolution .evol-cards form button .card {
    height: auto;
    border: none;
    background-color: #616161;
}

.evolution .evol-cards form button .card img {
    border: 10px solid #acacac;
    border-radius: 50%;
}

.evolution .evol-cards form button .card div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.evolution .evol-cards form button .card div p {
    font-size: 20px;
    font-weight: 500;
}

.evolution .evol-cards form button .card div .name {
    color: white;
}

.evolution .evol-cards form button .card div .id {
    color: #acacac;
    font-size: 16px;
    line-height: 20px;
}

.evolution .evol-cards .seperator {
    height: 100%;
    color: #acacac;
    width: 70px;
    font-size: 70px;
    font-weight: bolder;
}


/* Media queries for device widths */
@media (max-width: 760px) {
    .main {
        margin: 10px;
    }

    .fav {
        left: 10px;
    }
    
    .search-div input[type="search"] {
        width: calc(100% - 100px);
    }

    .random-picks .btn-grid {
        gap: 10px;
    }

    .random-picks .btn-grid form[action="/"] {
        margin-left: 15px;
    }

    .random-picks .btn-grid form[action="/favourites"] {
        margin-right: 15px;
    }

    .types-weakness {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2 auto);
        padding-top: 80px;
    }

    .types-weakness div {
        padding: 0;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .evolution {
        margin: 10px;
    }

    .evolution .evol-cards {
        display: inline-block;
        width: 50%;
    }

    .evolution .evol-cards .seperator {
        display: none;
    }
}

@media (max-width: 990px) {
    
    .random-picks .picks {
        padding: 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2 auto);
    }

    .pokemon {
        position: static;
        top: 130px;
    }

    .pokemon img {
        width: 50%;
    }

    .details {
        position: static;
        width: 100%;
        padding: 10px;
    }
}