{% extends "layout.html" %}

{% block icon %}
{{ basic['norm-img-url'] }}
{% endblock %}

{% block title %}
{{ basic["name"] }} | Pokédex
{% endblock %}

{% block main %}
<div class="identity-bar">
    <p class="name">{{ basic["name"] }}</p>
    <p class="id">{{ basic["id"] }}</p>
</div>

<div class="details">
    {% set norm = basic['norm-img-url'] %}
    {% set shiny = basic['shiny-img-url'] %}
    <div class="item">
        <img id="pokemon-img" src="{{ norm }}" data-norm="{{ norm }}" data-shiny="{{ shiny }}" alt="{{ norm }}">
    </div>

    <div class="item">
        <div class="button-div">
            <p>Versions: </p>
            <button class="img-btn" onclick="swapImage('norm')">
                <img src="/static/pokeball.png" alt="">
            </button>
            <button class="img-btn" onclick="swapImage('shiny')">
                <img src="/static/pokeball-shiny.png" alt="">
            </button>
        </div>
        <table>
            <tr>
                <th>Height</th>
                <th>Weight</th>
            </tr>
            <tr>
                <td>{{ measures["height"] }}</td>
                <td>{{ measures["weight"] }}</td>
            </tr>
            <tr>
                <th colspan="2">Abilities</th>
            </tr>
            <tr>
                <td colspan="2">
                    <ul>
                        {% for ability in measures["abilities"] %}
                        <li>
                            <a href="#" data-bs-toggle="tooltip" data-bs-title="{{ ability['desc'] }}">{{ ability["name"] }}</a>
                        </li>
                        
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="next-action">
    <form action="/pokemon-tacticts" method="post">
        <input type="text" hidden name="name" value="{{ basic['name'] }}">
        <button type="submit">
            <i class="fa-solid fa-angle-down"></i>
        </button>
    </form>
</div>
{% endblock %}