{% extends "layout.html" %}

{% block icon %}
{{ data['norm-img-url'] }}
{% endblock %}

{% block title %}
{{ data["name"] }} | Pokédex
{% endblock %}

{% block main %}
<div class="identity-bar">
    <p class="name">{{ data["name"] }}</p>
    <p class="id">{{ data["id"] }}</p>
</div>

<div class="details">
    {% set norm = data['norm-img-url'] %}
    {% set shiny = data['shiny-img-url'] %}
    <div class="item">
        <img id="pokemon-img" src="{{ norm }}" data-norm="{{ norm }}" data-shiny="{{ shiny }}" alt="{{ norm }}">
    </div>

    <div class="item">
        <div class="button-div">
            <p>Versions: </p>
            <button class="img-btn" onclick="swapImage('norm')">
                <img src="/static/pokeball.png" alt="">
            </button>
            <button class="img-btn" onclick="swapImage('shiny')">
                <img src="/static/pokeball-shiny.png" alt="">
            </button>
        </div>
        <table>
            <tr>
                <th>Height</th>
                <th>Weight</th>
            </tr>
            <tr>
                <td>{{ data["height"] }}</td>
                <td>{{ data["weight"] }}</td>
            </tr>
            <tr>
                <th colspan="2">Abilities</th>
            </tr>
            <tr>
                <td colspan="2">
                    <ul>
                        {% for ability in data["abilities"] %}
                        <li>
                            <a href="#" data-bs-toggle="tooltip" data-bs-title="{{ ability['desc'] }}">{{ ability["name"] }}</a>
                        </li>
                        
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="facts">
    <div class="facts-top">
        <p>Random Facts</p>
        <button onclick="randomFactGenerator()"><i class="fa-solid fa-arrows-rotate"></i></button>
    </div>
    <div class="facts-bottom">
        <p id="placeholder" data-flavours='{{ data["flavours"] | tojson | safe }}'>
            {{ data["flavours"][fact_num] }}
        </p>
    </div>
</div>

<div class="moves">
    <p>Moves</p>
    {% for chunk in data["moves"] | batch(12) %}
    <div class="page" style="display: {{ 'block' if loop.first else 'none' }};">
        <ul>
            {% for move in chunk %}
            <li>
                <a href="#" data-bs-toggle="tooltip" data-bs-title="{{ move['desc'] }}">
                    {{ move["name"] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <div class="btn-grp">
        <button onclick="changePage(-1)">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <span id="page_indicator"></span>
        <button onclick="changePage(1)">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</div>

<div>
    <p>Evolution</p>
    <ul>
        {% for evo in data["evolution"] %}
        <li>{{ evo }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}