{% extends "layout.html" %}

{% block icon %}
{{ basic['norm-img-url'] }}
{% endblock %}

{% block title %}
{{ basic["name"] }} | Pokédex
{% endblock %}

{% block main %}
<div class="next-action">
    <form action="/pokemon-basics" method="post">
        <input type="text" hidden name="name" value="{{ basic['name'] }}">
        <button type="submit">
            <i class="fa-solid fa-angle-up"></i>
        </button>
    </form>
</div>

<div class="facts">
    <div class="facts-top">
        <p>Random Facts</p>
        <button onclick="randomFactGenerator()"><i class="fa-solid fa-arrows-rotate"></i></button>
    </div>
    <div class="facts-bottom">
        <p id="placeholder" data-flavours='{{ moves["flavours"] | tojson | safe }}'>
            {{ moves["flavours"][fact_num] }}
        </p>
    </div>
</div>

<div class="moves">
    <p>Moves</p>
    {% for chunk in moves["moves"] | batch(12) %}
    <div class="page" style="display: {{ 'block' if loop.first else 'none' }};">
        <ul>
            {% for move in chunk %}
            <li>
                <a href="#" data-bs-toggle="tooltip" data-bs-title="{{ move['desc'] }}">
                    {{ move["name"] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <div class="btn-grp">
        <button onclick="changePage(-1)">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <span id="page_indicator"></span>
        <button onclick="changePage(1)">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</div>

<div class="next-action">
    <form action="/pokemon-evolution" method="post">
        <input type="text" hidden name="name" value="{{ basic['name'] }}">
        <button type="submit">
            <i class="fa-solid fa-angle-down"></i>
        </button>
    </form>
</div>
{% endblock %}