{% extends "layout.html" %}

{% block title %}
Favourites | Pokédex
{% endblock %}

{% block main %}
<div class="title">
    <form action="/" method="action">
        <button type="submit">Favourites</button>
    </form>
</div>

<div class="random-picks">
    <div class="picks">
        {% for pokemon in pokemons %}
        <form action="/pokemon" method="post">
            <input type="text" hidden name="name" value="{{ pokemon[0] }}">
            <button type="submit" name="action" value="submit">
                <div class="card">
                    <img src="{{ pokemon[2] }}" alt="{{ pokemon[1] }}">
                    <p class="id">{{ pokemon[0] | format(2) }}</p>
                    <p class="name">{{ pokemon[1] }}</p>
                    <div class="types">
                        {% for type in pokemon[3] %}
                        <p class="type" style="background-color: {{ type | color }}">{{ type }}</p>
                        {% endfor %}
                    </div>
                </div>
            </button>
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}