{% extends "layout.html" %}

{% block title %}
Pokédex
{% endblock %}

{% block main %}
<div class="search-div">
    <div>
        <img src="/static/pokeball.png" alt="">
        <h1>PokéDex</h1>
    </div>
    <form action="/pokemon" method="post">
        <input autofocus autocomplete="off" type="search" name="name" placeholder="Search your favourite pokémon">
        <button name="action" value="search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>

<div class="random-picks">
    <div class="btn-grid">
        <form action="/" method="post">
            <button name="action" value="refresh" type="submit">
                <i class="fa-solid fa-arrows-rotate"></i>&nbsp;Surprise Me!
            </button>
        </form>

        <form action="/favourites" method="post">
            <button name="action" value="refresh" type="submit">
                Favourites
            </button>
        </form>
    </div>

    <div class="picks">
        {% for pokemon in pokemons %}
        <form action="/pokemon" method="post">
            <input type="text" hidden name="name" value="{{ pokemon[0] }}">
            <button type="submit" name="action" value="submit">
                <div class="card">
                    <img src="{{ pokemon[2] }}" alt="{{ pokemon[1] }}">
                    <p class="id">{{ pokemon[0] | format(2) }}</p>
                    <p class="name">{{ pokemon[1] }}</p>
                    <div class="types">
                        {% for type in pokemon[3] %}
                        <p class="type" style="background-color: {{ type | color }}">{{ type }}</p>
                        {% endfor %}
                    </div>
                </div>
            </button>
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}