{% extends "layout.html" %}

{% block icon %}
/static/pokeball.png
{% endblock %}

{% block title %}
Pokédex
{% endblock %}

{% block main %}
<div class="search-div">
    <div>
        <img src="/static/pokeball.png" alt="">
        <h1>PokéDex</h1>
    </div>
    <form action="/pokemon" method="post">
        <input autofocus autocomplete="off" type="search" name="name" placeholder="Search your favourite pokémon">
        <button name="action" value="search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>

<div class="random-picks">
    <form action="/" method="post">
        <button name="action" value="refresh" type="submit">
            <i class="fa-solid fa-arrows-rotate"></i>&nbsp;Surprise Me!
        </button>
    </form>

    <div class="picks">
        {% for pokemon in pokemons %}
        <div class="card">
            <img src="{{ pokemon[2] }}" alt="{{ pokemon[1] }}">
            <p class="id">{{ pokemon[0] }}</p>
            <p class="name">{{ pokemon[1] }}</p>
            <div class="types">
                {% for type in pokemon[3] %}
                <p class="type">{{ type }}</p>
                {% endfor %}
            </div>
            <form action="/pokemon" method="post">
                <input type="text" hidden name="name" value="{{ pokemon[1] }}">
                <button type="submit" name="action" value="submit">See more</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}