{% extends "layout.html" %}

{% block title %}
{{ basic["name"] }} | Pokédex
{% endblock %}

{% set len = (evolution | length) %}
{% if len == 1 %}
{% set padding = 40 %}
{% endif %}
{% if len == 2 %}
{% set padding = 30 %}
{% endif %}
{% if len == 3 %}
{% set padding = 20 %}
{% endif %}

{% block main %}
<div class="identity-bar">
    <div class="cornors left">
        <form action="/pokemon" method="post">
            <input type="text" name="name" value='{{ (basic["id"] | int) - 1 }}' hidden>
            <button type="submit">
                &#10094;
            </button>
        </form>
    </div>
    <div class="middle">
        <form action="/" method="post">
            <button type="submit">
                <p class="name">{{ basic["name"] }}</p>
                <p class="id">{{ basic["id"] | format(2) }}</p>
            </button>
        </form>
    </div>
    <div class="cornors right">
        <form action="/pokemon" method="post">
            <input type="text" name="name" value='{{ (basic["id"] | int) + 1 }}' hidden>
            <button type="submit">
                &#10095;
            </button>
        </form>
    </div>
</div>

<div class="main">
    <div class="pokemon">
        <img id="pokemon-img" src="{{ basic['img'] }}" alt="{{ basic['name'] }}">
    </div>

    <div class="fav">
        <form action="/set-favourites" method="post">
            <input type="text" name="id" value="{{ basic['id'] }}" hidden>
            <button type="submit">
                {% if isfav %}
                    <i class="fa-solid fa-star"></i>
                {% else %}
                    <i class="fa-regular fa-star"></i>
                {% endif %}
            </button>
        </form>
    </div>

    <div class="details">
        <table>
            <tr>
                <th>Height</th>
                <th>Weight</th>
            </tr>
            <tr>
                <td>{{ measures["height"] }}</td>
                <td>{{ measures["weight"] }}</td>
            </tr>
            <tr>
                <th colspan="2">Abilities</th>
            </tr>
            <tr>
                <td colspan="2">
                    <ul>
                        {% for ability in measures["abilities"] %}
                        <li>
                            <a href="#" data-bs-toggle="tooltip" data-bs-title="{{ ability['desc'] }}">{{
                                ability["name"] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="types-weakness">
        <div>
            <p>Types</p>
            <div class="types">
                {% for type in measures["types"] %}
                <p class="type" style="background-color: {{ type | color }}">{{ type }}</p>
                {% endfor %}
            </div>
            </ul>
        </div>
        <div>
            <p>Weakness</p>
            <div class="types">
                {% for weak in measures["weakness"] %}
                <p class="type" style="background-color: {{ weak | color }}">{{ weak }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="evolution" style="--spacing-unit: {{ padding }}%">
    <p>Evolution</p>
    <div class="evol-cards">
        {% for i in range(0, len) %}
        <form action="/pokemon" method="post">
            <input type="text" name="name" value="{{ evolution[i]['name'] }}" hidden>
            <button type="submit">
                <div class="card">
                    <img src='{{evolution[i]["img"] }}' alt='{{ evolution[i]["name"] }}'>
                    <div>
                        <p class="name">{{ evolution[i]["name"] }}</p>
                        <p class="id">{{ evolution[i]["id"] | format(2) }}</p>
                    </div>
                </div>
            </button>
        </form>
        {% if i < len - 1 %} <p class="seperator">&#10095;</p>
            {% endif %}
            {% endfor %}
    </div>
</div>
{% endblock %}